body {
  background-color: lightblue;
  
}
:root {
  --color-poc: darkblue;
}

app-element::part(hello) {
  font-size: xx-large;
}

#navbar {
  background-color: darkblue;
  color:white;
  font-weight: bolder;
}
#navbar a{
  text-decoration: none;
  padding:2em;
  margin: 2em;
}
#navbar a:visited{
  color:white;
  
}

.container{
  display:flex;
  width: 100%
}
#mypostscontainer {
  display:flex;
  justify-content: space-between;
  flex-direction:column;
  max-width:30%;
  margin: 1%;
  overflow:hidden;
  color:red;
  background-color: blanchedalmond;
  list-style: none;
}
one-post {
  width:60%;
  height:50%;
  margin: 1%;
}
#myselectedpost{
  background-color: blanchedalmond;
  
  overflow:hidden;
  color:red;
}
#myselectedpost label {
  width:30%;
  text-align: right;
  margin-right: 1rem;
}
#myselectedpost input {
  width:60%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
#choice {
  display:flex;
  flex-direction:column;
  align-items: justify-content;
}
#field1, #field2, #field3{
  display:flex;
  justify-content: center;
}
#field3 button{
  margin:1em;
}
#addbutton {
  width: fit-content;
  margin-left:auto;
  padding:0.5rem;
}
#update {
  display: none;
}
#delete {
  display: none;
}
ul li {
  list-style: none;
}
h1 {
  margin:1%;
}
button {
  margin-bottom: 2%;
  padding:1em;
  border-radius: 0.25em;
  margin : 1%;
}
#update , #delete {
  display:none;
}